/* login and register pages */
* {
   box-sizing: border-box;

   margin: 0;
   padding: 0;
}

/* general styles */
body {
   display: flex;
   flex-direction: column;

   min-height: 100vh;
}

/* form general styles */
body > main#authentication_page {
   margin: auto 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

main#authentication_page > form {
   width: 420px;

   background-color: #fdf6ee;
   color: black;

   border-radius: 10px;
   padding: 30px 35px;
}

/* form header */
form h1 {
   font-size: 36px;
   text-align: center;
}

/* input boxes */
form .input_box {
   position: relative;

   width: 100%;
   height: 50px;
   margin: 30px 0;
}

.input_box input {
   width: 100%;
   height: 100%;

   background: transparent;

   border: 2px solid rgba(163, 163, 163, 0.574);
   border-radius: 40px;
   padding: 20px 45px 20px 20px;

   font-size: 16px;
   color: black;
}

.input_box input::placeholder {
   color: black;
}

.input_box i {
   position: absolute;
   right: 20px;
   top: 50%;

   transform: translateY(-50%);
   font-size: 20px;
}

/* login and register buttons */
form button {
   width: 100%;
   height: 45px;

   background-color: white;
   color: black;

   border: none;
   outline: none;
   border-radius: 40px;

   box-shadow: 0 0 10px rgba(0, 0, 0, .1);
   
   cursor: pointer;

   font-size: 16px;
   font-weight: 600;
}

form button:hover {
   background-color: #f9f7f7;
}

/* login and register links */
form .link {
   font-size: 14px;
   text-align: center;

   margin: 20px 0 15px;
}

form .link a {
   color: black;
   text-decoration: none;

   font-weight: 600;
}

form .link p a:hover {
   text-decoration: underline;
}