/* all elements */
* {
   box-sizing: border-box;
}

/* general styles */
body {
   width: 80%;
   margin: 1em auto;

   --nav-border-radius: 5px;
}

/* header */
body > header {
   display: flex;
   justify-content: space-between;
   align-items: center;

   margin: 0 0 1em 0;
   
   border-bottom: 1px solid #ddd;
}

/* nav links */
li, a {
   text-decoration: none;
}

/* logo change to image later? */

#logo {
   padding-left: 0px;

   cursor: pointer;
}

#logo a {
   font-size: 50px;
   font-weight: bold;

   color: #222;
}

/* search bar */

.search_bar {
   display: flex;
   margin: 0 2em;

   border: 1px solid #ddd;
   border-radius: 20px;

   padding: 5px;
   width: 300px;

   background: white;
}

.search_bar input {
   border: none;

   padding: 8px;
   width: 100%;

   outline: none;
   font-size: 14px;
}

.search_bar button {
   border: none;
   border-left: 1px solid #ddd;

   color: #5d5d5d;

   padding: 5px 12px;

   background: none;

   cursor: pointer;
}

#nav_menu ul {
   list-style: none;
}

#nav_menu li {
   display: inline-block;
}

#nav_menu button {
   cursor: pointer;

   background: none;
   padding: 8px 12px;

   border: 1px solid #ddd;
   border-radius: var(--nav-border-radius);

   font-size: 14px;
}

#nav_menu li:first-child {
   margin: 0 2em;
}

#nav_menu button:hover {
   background: #f0f0f0;
}

/* sign up button */ 
#nav_menu li:last-child button {
   background-color: black;
   color: white;
   border: none;
}  

#nav_menu li:last-child button:hover {
   background: #333;
}

/* nav filter */
nav#filter_section {
   display: flex;
   justify-content: flex-start;
   gap: 1em;

   margin: 2em 0;
}

nav#filter_section button {
   padding: 8px 12px;

   font-size: 18px;

   cursor: pointer;
}

/* featured services */
#featured_services {
   background-color: #fdf6ee;
   margin: 0 auto;

   padding: 20px;
   border-radius: 12px;

   display: flex;
   flex-wrap: wrap;
   gap: 20px;
   align-items: center;
}

#featured_services header {
   margin-bottom: 30px;
}

#featured_services header h2 {
   font-size: 24px;
   font-weight: bold;
   color: #333;
}

/* service card */
#featured_services .service_card, #services .service_card {
   display: flex;
   flex-direction: column;
   
   border-radius: 5px;
   
   overflow: hidden;

   width: 300px;
   transition: 0.3s ease-in-out;
}

#featured_services .service_card a img, #services .service_card a img {
   width: 100%;
   height: auto;

   object-fit: cover;
}

#featured_services .service_card .service_info, #services .service_card .service_info {
   padding: 5px 0 5px 0;
}

#featured_services .service_card .profile, #services .service_card .profile {
   display: flex;
   align-items: center;
   gap: 10px;
}

#featured_services .service_card .profile img, #services .service_card .profile img {
   width: 30px;
   height: 30px;
   border-radius: 50%;
}

#featured_services .service_card .profile p, #services .service_card .profile p {
   font-weight: bold;
   margin: 0;
}

#featured_services .service_card .service_info a, #services .service_card .service_info a {
   text-decoration: none;
   color: black;
   
   display: block;
   margin-top: 5px;
   cursor: pointer;
}

#featured_services .service_card .service_info a:hover, #services .service_card .service_info a:hover {
   text-decoration: underline;
}

#featured_services .service_card .service_info p:nth-child(3), #services .service_card .service_info p:nth-child(3) {
   font-size: 14px;

   position: relative;
   display: inline-block;
}

#featured_services .service_card .service_info p:nth-child(3)::before, #services .service_card .service_info p:nth-child(3)::before {
   content: "★ ";
   left: 0;
   top: 0;

   font-size: 14;
   color: #ffb400;
}

#featured_services .service_card .service_info p:nth-child(4), #services .service_card .service_info p:nth-child(4) {
   font-size: 14px;
   margin-top: 5px;
}

#featured_services .service_card .service_info p, #services .service_card .service_info p {
   margin: 3px 0px;
   padding: 0; 
}

#featured_services .service_card .service_info a, #services .service_card .service_info a {
   margin-bottom: 3px;
}

/* footer */
body > footer {
   border-top: 1px solid #ddd;

   margin-top: 2em;
   padding: 5px 0;
   display: flex;
   align-items: center;
}

body > footer :last-child {
   padding-left: 1em;
}