* {
   box-sizing: border-box;
}

.service_card {
   display: flex;
   flex-direction: column;
   
   border-radius: 5px;
   
   overflow: hidden;

   width: 300px;
   transition: 0.3s ease-in-out;
}

.service_card a img {
   width: 100%;
   height: auto;

   object-fit: cover;
}

.service_card .service_info {
   padding: 10px 0 10px 0;
}

.service_card .profile {
   display: flex;
   align-items: center;
   gap: 10px;
}

.service_card .profile img {
   width: 30px;
   height: 30px;
   border-radius: 50%;
}

.service_card .profile p {
   font-weight: bold;
   margin: 0;
}

.service_card .service_info a {
   text-decoration: none;
   color: black;
   
   display: block;
   margin-top: 5px;
   cursor: pointer;
}

.service_card .service_info a:hover {
   text-decoration: underline;
}

.service_card .service_info p:nth-child(3) {
   font-size: 14px;

   position: relative;
   display: inline-block;
}

.service_card .service_info p:nth-child(3)::before {
   content: "★ ";
   left: 0;
   top: 0;

   font-size: 14;
   color: #ffb400;
}

.service_card .service_info p:nth-child(4){
   font-size: 14px;
   margin-top: 5px;
}